@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "times";
    @apply text-xl text-ah-900;
    // @apply text-red-600 bg-purple-600;
}

.sans {

}

p, ul {
    @apply pb-4
}

a {
    @apply border-b border-ah-900 text-ah-900
}

a:hover {
    @apply border-0
}

h1, h2, h3, h4, h5 {
  font-family: "arial";
}

h1 {
    @apply text-4xl pb-4;
}

h2 {
    @apply text-2xl pb-4;
}

h3 {
    @apply text-xl pb-4
}

h4 {
    @apply text-lg pb-2
}

h5 {
    @apply text-base pb-2
}

a svg {
    fill: #1155cc;
}

.skew {
    transform: skew(45deg);
}

.casestudy {
  font-family: "arial";
}

#single-thumb {
    // @apply bg-black;
    // img {
    //     mix-blend-mode: multiply
    // }
    
}

// .work-item {
//     @apply pr-8
// }

// .work:hover a, .hero img {
//   mix-blend-mode: exclusion
// }

// .work:hover .thumb, .hero img {
//     mix-blend-mode: exclusion;
// }

// #work-items > div:nth-child(4n) {
//     @apply pl-0

// }

#work-items > div.work-item:nth-child(3n) {
        // @apply pr-0 
    
}

.gradient {
//   background: linear-gradient(180deg, rgba(17,85,204,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%); 
}